
.type-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    padding: 2px 0;
    width: 60px;
    cursor: pointer;
    -webkit-user-select: none;
    border-radius: 2px;
    &:hover {
      background-color: rgba(245, 197, 24, 0.15);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0);
    }
    svg {
      width: 30px;
      height: 30px;
    }

    .switcher-label {
      transform: translateY(0);
      transition: 0.15s ease-in-out;
      &.label-out-left {
        transform: translateY(100%);
      }
      &.label-out-right {
        transform: translateY(100%);
      }
      &.label-in-left {
        transform: translateY(100%);
      }
      &.label-in-right {
        transform: translateY(100%);
      }
    }
    .switcher-img {
      transform: translateX(0);
      transition: 0.15s ease-in-out;
      &.img-out-left {
        transform: translateX(-150%);
      }
      &.img-out-right {
        transform: translateX(150%);
      }
      &.img-in-left {
        transform: translateX(150%);
      }
      &.img-in-right {
        transform: translateX(-150%);
      }
    }
  }